#include <os2.h>
#include "atshlres.h"

ICON   ID_MAINPROGRAM   "..\\graphic\\system.ico"
ICON   IDI_ATSHELL      "..\\graphic\\program.ico"
ICON   IDI_PROMPT       "..\\graphic\\prompt.ico"
ICON   IDI_SHUTDOWN     "..\\graphic\\shutdown.ico"
ICON   IDI_CONFIGURE    "..\\graphic\\progconf.ico"
ICON   IDI_HELP         "..\\graphic\\help.ico"
ICON   IDI_QUIT         "..\\graphic\\quit.ico"


MENU ID_MAINPROGRAM
BEGIN
    MENUITEM "~Starte Desktop-Programm",                ID_LAUNCH,     MIS_TEXT
    MENUITEM "ôffne ~Befehlszeile\tF3",                 ID_PROMPT,     MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Desktop-Programm konfigurieren...",      ID_CONFIGURE,  MIS_TEXT
    MENUITEM "~Start-Programm konfigurieren...",        ID_STARTUP,    MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "Schlie·en...",                            ID_QUIT,       MIS_TEXT
    MENUITEM "~Systemabschlu·...",                      ID_SHUTDOWN,   MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Hilfe\tF1",                              ID_HELP,       MIS_TEXT | MIS_HELP
    MENUITEM "~Produktinformation",                     ID_ABOUT,      MIS_TEXT
END

ACCELTABLE ID_MAINPROGRAM
BEGIN
    VK_F3,     ID_PROMPT,       VIRTUALKEY
END


STRINGTABLE
BEGIN
    SZ_HELP_WINDOWTITLE                             "ATSHELL (AT Desktop Shell) - Hilfe"
    SZ_HELP_LOADERROR                               "Laden der Hilfedatei %s nicht mîglich."
END

STRINGTABLE
BEGIN
    SZ_EXECUTE_TITLE                                "Start fehlgeschlagen"
    SZ_EXECUTE_ERROR                                "Die Anwendung konnte nicht ausgefÅhrt werden.\x0d\x0dFehlerproblen:\x09 0x%02X\x0Fehlernummer:\x09 0x%02X"
END

STRINGTABLE
BEGIN
    SZ_SHUTDOWN_TITLE                               "Systemabschlu·"
    SZ_SHUTDOWN_CONFIRM                             "Soll das System wirklich heruntergefahren werden?"
END

STRINGTABLE
BEGIN
    SZ_CLOSE_TITLE                                  "Beenden"
    SZ_CLOSE_CONFIRM                                "Das Schlie·en des Fensters verursacht einen Neustart der Shell."
END

STRINGTABLE
BEGIN
    SZ_BROWSE_TITLE                                 "Programm"
END

HELPTABLE ID_MAINPROGRAM
BEGIN
    HELPITEM ID_MAINPROGRAM,                        10000, 010
    HELPITEM IDD_PROGCONFIG,                        10001, 011
END

HELPSUBTABLE 10000
BEGIN
END

HELPSUBTABLE 10001
BEGIN
END


RCINCLUDE "atshlres.dlg"

